---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lms-project
  labels:
    app: swiggy
spec:
  replicas: 3
  selector:
    matchLabels:
      app: swiggy
  template:
    metadata:
      labels:
        app: swiggy
    spec:
      containers:
      - name: cont-1
        image: danduniharika30/niharika:1
        ports:
        - containerPort: 8080

  

